body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure proper positioning */
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-box {
  font-size: 60px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 7px;
  word-spacing: 12px;
  text-transform: uppercase;
  color: rgb(238, 238, 238);
  z-index: 1; /* Ensure text appears above canvas */
}

.logo {
  font-family: Arial, sans-serif;
  font-size: 24px; /* Decreased font size */
  font-weight: bold;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px; /* Decreased letter spacing */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adjusted text shadow */
  margin-bottom: 20px;
  position: absolute; /* Position the logo absolutely */
  top: 20px; /* Distance from the top */
  left: 20px; /* Distance from the left */
}

.circle {
  width: 60px; /* Decreased circle size */
  height: 60px; /* Decreased circle size */
  background-color: 	#FF681F;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Adjusted margin */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjusted box shadow */
}

.circle:before {
  content: "LA";
  font-size: 24px; /* Decreased font size */
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Adjusted text shadow */
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-direction: row;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.button:hover {
  color: white;
  background-color: #25b3c3;
}

.heading {
  font-size: 70px;
  font-weight: bold;
  margin-top: 50px; /* Adjust as needed */
  opacity: 0; /* Initially hide the text */
  animation: fadeIn 1s ease-in-out forwards; /* Apply animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
