/* Setting background color for the body */
body {
  background-color: #333;
  overflow: hidden;
}

#wrapper{
  width:100vw;
  height:100vh;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
}
.my-super-cool-btn{
  position:relative;
  text-decoration:none;
  color:#fff;
  letter-spacing:1px;
  font-size:2rem;
  box-sizing:border-box;
}
.my-super-cool-btn span{
  position:relative;
  box-sizing:border-box;
  display:flex;
  align-items:center;
  justify-content:center;
  width:200px;
  height:200px;
}
.my-super-cool-btn span:before{
  content:'';
  width:100%;
  height:100%;
  display:block;
  position:absolute;
  border-radius:100%;
  border:7px solid #F3CF14;
  box-sizing:border-box;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
  box-shadow: 0 30px 85px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn:hover span:before{
  transform:scale(0.8);
  box-shadow: 0 20px 55px rgba(0,0,0,0.14), 0 15px 35px rgba(0,0,0,0.14);
}
.my-super-cool-btn .dots-container{
  opacity:0;
  animation: intro 1.6s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn .dot{
  width:8px;
  height:8px;
  display:block;
  background-color:#F3CF14;
  border-radius:100%;
  position:absolute;
  transition: all .85s cubic-bezier(0.25, 1, 0.33, 1);
}
.my-super-cool-btn .dot:nth-child(1){
  top:50px;
  left:50px;
  transform:rotate(-140deg);
  animation: swag1-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(2){
  top:50px;
  right:50px;
  transform:rotate(140deg);
  animation: swag2-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(3){
  bottom:50px;
  left:50px;
  transform:rotate(140deg);
  animation: swag3-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn .dot:nth-child(4){
  bottom:50px;
  right:50px;
  transform:rotate(-140deg);
  animation: swag4-out 0.3s;
  animation-fill-mode: forwards;
  opacity:0;
}
.my-super-cool-btn:hover .dot:nth-child(1){
  animation: swag1 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(2){
  animation: swag2 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(3){
  animation: swag3 0.3s;
  animation-fill-mode: forwards;
}
.my-super-cool-btn:hover .dot:nth-child(4){
  animation: swag4 0.3s;
  animation-fill-mode: forwards;
}
@keyframes intro {
   0% {
     opacity:0;
  }
  100% {
     opacity:1;
  }
}
@keyframes swag1 {
   0% {
     top:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag1-out {
   0% {
     top:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag2 {
   0% {
     top:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     top:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag2-out {
   0% {
     top:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     top:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag3 {
   0% {
     bottom:50px;
     left:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     left:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag3-out {
   0% {
     bottom:20px;
     left:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     left:50px;
     width:8px;
    opacity:0;
  }
}
@keyframes swag4 {
   0% {
     bottom:50px;
     right:50px;
     width:8px;
  }
  50% {
    width:30px;
    opacity:1;
  }
  100% {
     bottom:20px;
     right:20px;
     width:8px;
     opacity:1;
  }
}
@keyframes swag4-out {
   0% {
     bottom:20px;
     right:20px;
     width:8px;
  }
  50% {
     width:30px;
    opacity:1;
  }
  100% {
     bottom:50px;
     right:50px;
     width:8px;
    opacity:0;
  }
}


/* Styling for the navigation bar */
nav {
  background-color: #333; /* Setting background color */
  overflow: hidden; /* Ensuring no overflow content is shown */
  font-family: 'Poppins', sans-serif; /* Setting font family */
  font-size: 16px; /* Setting font size */
}

/* Removing default list styling from navigation links */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Styling for each list item in the navigation */
nav ul li {
  float: left; /* Making list items appear horizontally */
  position: relative; /* Setting position to relative for absolute positioning of children */
}

/* Styling for the links inside each list item */
nav ul li a {
  display: block; /* Making links block-level elements */
  color: white; /* Setting text color */
  text-align: center; /* Centering text */
  padding: 14px 16px; /* Setting padding */
  text-decoration: none; /* Removing underline from links */
  position: relative; /* Setting position to relative for absolute positioning of pseudo-elements */
}

/* Styling for the underline effect on hover */
nav ul li a::after {
  content: ''; /* Adding content for pseudo-element */
  position: absolute; /* Positioning the pseudo-element absolutely */
  bottom: 0; /* Placing the pseudo-element at the bottom of the link */
  left: 50%; /* Positioning the pseudo-element horizontally */
  width: 0; /* Starting with no width */
  height: 2px; /* Setting height for the underline */
  background-color: #ff3c78; /* Setting color for the underline */
  transition: width 0.3s ease; /* Adding transition effect */
  transform: translateX(-50%); /* Centering the pseudo-element horizontally */
}

/* Expanding the underline effect on hover */
nav ul li a:hover::after {
  width: 100%; /* Increasing width to 100% on hover */
}

/* Centering content inside the container */
.container {
  text-align: center;
  margin-top: 50px;
}

/* Styling for the array container */
.array-container {
  display: flex; /* Using flexbox for layout */
  justify-content: center; /* Centering items horizontally */
  align-items: flex-end; /* Aligning items to the bottom */
  height: 300px; /* Setting height */
}

/* Styling for individual bars in the array */
.bar {
  background-color: #007bff; /* Setting background color */
  margin: 0 1px; /* Adding margin */
  width: 20px; /* Setting width */
  transition: height 0.2s; /* Adding transition effect for height */
}


/* Styling for the yellow strip below the navigation bar */
nav::before {
  content: ''; /* Adding content for pseudo-element */
  position: absolute; /* Positioning the pseudo-element absolutely */
  bottom: 0; /* Placing the pseudo-element at the bottom of the navigation */
  left: 0; /* Aligning the pseudo-element to the left */
  width: 100%; /* Setting width to cover the entire navigation */
  height: 5px; /* Setting height for the strip */
  background-color: yellow; /* Setting color for the strip */
  z-index: 1; /* Ensuring the strip is below the links */
}

/* Styling for the search input */
nav input[type="text"] {
  padding: 8px;
  margin-right: 10px; /* Adjust as needed */
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease; /* Smooth transition */
}

/* Styling for the navigation bar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the start and end */
  background-color: #333;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

/* Styling for navigation links */
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-right: 10px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ff3c78;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

nav ul li a:hover::after {
  width: 100%;
}

nav::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: yellow;
  z-index: 1;
}

h5{
  font-size: 20px;
  font-family: 'Poppins', sans-serif; /* Setting font family */
  font-style: normal;
}

.algoComplexity p {
  margin-top: 9%; /* Adjust margin as needed */
  color: white;
  font-weight: normal;
  text-align: center;
}

